@page "/admin/addevent"
@using Microsoft.AspNetCore.Authorization;
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;
@attribute [Authorize(Roles = "Admin")]
@inject IEventService service
@inject NavigationManager navManager


<h3>Add A New Event</h3>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" @bind-value="@event.Name" />
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" @bind-value="@event.Location" />
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" rows="5" @bind-value="@event.Description"></textarea>
            </div>
            <div class="form-group">
                <label for="ticketPrice">Ticket Price:</label>
                <input type="number" class="form-control" id="ticketPrice" step="0.01" @bind-value="@event.TicketPrice" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="eventDate">Event Date:</label>
                <input type="date" class="form-control" id="eventDate" @bind-value="@event.EventDate" />
            </div>
            <div class="form-group">
                <label for="eventTime">Event Time:</label>
                <input type="time" class="form-control" id="eventTime" @bind-value="@event.EventTime" />
            </div>
            <div class="form-group">
                <label for="ticketsRemaining">Tickets Remaining:</label>
                <input type="number" class="form-control" id="ticketsRemaining" @bind-value="@event.TicketsRemaining" />
            </div>
            <div class="form-group">
                <label for="capacity">Capacity:</label>
                <input type="number" class="form-control" id="capacity" @bind-value="@event.Capacity" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" @onclick="AddEvent">Add Event</button>
        </div>
    </div>
</div>

@code{
    public EventModel event = new();

    public EventModel Event { get; set; }

    

    private async Task AddEvent(event)
    {
        // For example: await service.AddEvent(event);
        await service.AddEventAsync(Event);
        navManager.NavigateTo("admin");
    }
}