@page "/booking"
@page "/booking/{searchText}"
@using Microsoft.AspNetCore.Authorization;
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;
@inject IEventService service
@attribute [Authorize]

<h1>Booking</h1>

<input type="text" @bind-value="@searchText" @oninput="@FilterEvents" />


<h1>Events</h1>

<table class="table"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>Event Date</th>
            <th>TicketPrice</th>
        </tr>
    </thead>
</table>
@if (filteredEvents != null)
{
    foreach (var e in filteredEvents)
    {
        <a href="details/@e.EventId" style="color:red;">
            <div class="card">
                <h3>@e.Name</h3>
                <em>@e.Location</em>
                <em>@e.Description</em>
                <em>Price: @e.TicketPrice</em>
                <em>Date: @e.EventDate</em>
                <img src="/Images/Event images/@e.ImageUrl" style="max-width:150px;"/>
            </div>
        </a>
    }
}
@*<tbody>
    @if (filteredEvents != null)
    {
        @foreach (var e in filteredEvents)
        {
            <tr>
                <td>@e.Name</td>
                <td>@e.EventDate.Date.ToShortDateString()</td>
                <td>@e.TicketPrice</td>
            </tr>
        }
    }
</tbody>*@

@code
{
    private List<EventModel>? allEvents = new();
    private List<EventModel>? filteredEvents = new();
    [Parameter]
    public string searchText { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetEvents();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (searchText != null)
        {
            filteredEvents = allEvents.Where(e => e.Name!.ToLower().Contains(searchText.ToLower())).ToList();
        }
    }

    private async Task GetEvents()
    {
        allEvents = await service.GetEventsAsync();
        filteredEvents = allEvents;
    }


    private void FilterEvents(ChangeEventArgs e)
    {
        filteredEvents = allEvents!.Where(ev => ev.Name!.ToLower().Contains(e.Value!.ToString())).ToList();
    }

}