@page "/cart"
@using Microsoft.AspNetCore.Authorization;
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;
@attribute [Authorize]
@inject CartService cartService

<h1>Cart</h1>

@if (cartService.GetCartItemsAsync().Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cartService.GetCartItemsAsync())
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.TicketPrice kr</td>
                    <td><button class="btn btn-danger" @onclick="() => cartService.RemoveFromCartAsync(item)">Remove</button></td>

                    @if(item.TicketsRemaining > 0)
                    {
                        <button type="button" @onclick="@(() => cartService.RemoveFromCartAsync(item))">-</button>
                        <button type="button" @onclick="@(() => cartService.AddToCartAsync(item))">+</button>
                    }
                </tr>
            }
        </tbody>
    </table>
    <h3>Total: @cartService.TotalCartAsync() kr</h3>

}
else
{
    <h3>Your cart is empty</h3>
}
