@page "/details/{id:int}"
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;
@inject IEventService eventService
@inject ICartService cartService
@inject NavigationManager navigationManager;
    

@if(selectedEvent != null)
{
<div class="d-flex justify-content-center">
    <div class="col-md-3 mx-auto">
            <h3 style="font-family:monospace">Details</h3>
        <div class="card border-1 m-2 mb-2">
            <div class="card-header text-center">
                <img class="card-img-top" src="/Images/Event images/@selectedEvent.ImageUrl" style="width:200px; height:150px" />
            </div>
            <div class="card-body">
                <h5 class="card-title"><strong>@selectedEvent.Name:</strong></h5>
                <span class="card-text font-weight-bold"><strong>Description:</strong> @selectedEvent.Description</span>
                <span class="card-text font-weight-bold"><strong>Location:</strong> @selectedEvent.Location</span>
                <span class="card-text font-weight-bold"><strong>TicketPrice:</strong> @selectedEvent.TicketPrice</span><br>
                <span class="card-text font-weight-bold"><strong>Events date:</strong> @selectedEvent.EventDate</span><br>
                <button href="/Cart" class="btn btn-primary mt-3" @onclick="AddToCart">Add To Cart</button>
            </div>
        </div>
    </div>
</div>


}
else
{
    <h1>Loading event...</h1>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private EventModel? selectedEvent;

    private async Task AddToCart()
    {
        await cartService.AddToCartAsync(selectedEvent);
        navigationManager.NavigateTo("/cart"); // Tillfällig lösning /Gabriel
    }

    protected override async Task OnParametersSetAsync()
    {
        selectedEvent = await eventService.GetOneEventAsync(Id);
    }
}
