@page "/details/{id:int}"
@using TicketHiveSpaceKittens.Client.Services;
@using TicketHiveSpaceKittens.Shared.Models;
@inject IEventService eventService
@inject CartService cartService
@inject NavigationManager navigationManager;

<h3>Details</h3>

@if(selectedEvent != null)
{
    <h1>@selectedEvent.Name</h1>
    <h3>@selectedEvent.Description</h3>
    <h4>@selectedEvent.Location</h4>
    <h5>@selectedEvent.TicketPrice kr</h5>
    <h6>@selectedEvent.TicketsRemaining st</h6>
    <em><strong>@selectedEvent.EventDate</strong></em>
    <img src="/Images/Event images/@selectedEvent.ImageUrl" style="max-width:150px;" />
    <button @onclick="AddToCart">Add To Cart</button>

}
else
{
    <h1>Loading event...</h1>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private EventModel? selectedEvent;

    private async Task AddToCart()
    {
        await cartService.AddToCartAsync(selectedEvent);
        navigationManager.NavigateTo("/cart");
    }

    protected override async Task OnParametersSetAsync()
    {
        selectedEvent = await eventService.GetOneEventAsync(Id);
    }
}
